.float-right {
  float: right;
}

mat-card {
  padding: 20px;
}

table {
  width: 100%;
}

.mat-slide-toggle-bar {
  .mat-slide-toggle-bar-no-side-margin{
    background-color: red;
  }
}
