<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
>
  <mat-card fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3 style="margin-left: 50px;">TAJINE</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/tajine.jpg" alt="" />
    <mat-card-content>
      <p>
        Tajine, a traditional Moroccan dish, slow-cooked to perfection in an
        earthenware pot. A mix of meats, vegetables, and exotic spices, served
        with couscous. A hearty and flavorful meal that transports your taste
        buds to Morocco. Don't miss out on this delicious and unique dining
        experience.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>ATMANI ANAS</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/moi.jfif" alt="" />
    <mat-card-content>
      <p>Executive Chef</p>
      <p>
        Award winning three-star Michelin chef with wide International
        experience having worked closely with whos-who in the culinary world, he
        specializes in creating mouthwatering Indo-Italian fusion experiences.
        He says, Put together the cuisines from the two craziest cultures, and
        you get a winning hit! Amma Mia!
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>WEEKEND BUFFET</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/buffet.png" alt="" />
    <mat-card-content>
      <p>
        Featuring mouthwatering combinations with a choice of five different
        salads, six enticing appetizers, six main entrees and five choicest
        desserts. Free flowing bubbly and soft drinks. All for just $19.99 per
        person
      </p>
    </mat-card-content>
  </mat-card>
</div>
