<body>
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>
  <br />
  <div class="row" [@expand]>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Category:</h2>
          <h1 class="title">
            {{ data?.category
            }}<span style="margin-left: 10px" class="float-right"
              ><mat-icon>toc</mat-icon></span
            >
          </h1>
          <p>
            <button class="button" routerLink="['/cafe/category']">
              View Category
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Product:</h2>
          <h1 class="title">
            {{ data?.product
            }}<span style="margin-left: 10px" class="float-right"
              ><mat-icon>inventory_2</mat-icon></span
            >
          </h1>
          <p>
            <button class="button" routerLink="['/cafe/product']">
              View Product
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Bill:</h2>
          <h1 class="title">
            {{ data?.bill }}<span style="margin-left: 10px" class="float-right"
            ><mat-icon>shopping_basket</mat-icon></span
          >
        </h1>
          <p>
            <button class="button" routerLink="['/cafe/bill']">
              View Bill
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
