<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>

    <ul>
      <li>
        <a mat-button routerLink="/menu"
          ><span style="margin-left: 00px" class="fa fa-list fa-lg"></span>
          Menu</a
        >

        <a (click)="handelSignupAction()"><mat-icon >save</mat-icon>Signup</a>
        <a (click)="handelForgotPasswordAction()"><mat-icon>send</mat-icon>Forgot Password</a>
        <a (click)="handelLoginAction()"><mat-icon>login</mat-icon>Login</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @Atmani anas</h2>
</div>
